.fade-in-out {
  animation: fadeInOut 1.5s ease-in-out infinite;
}
@keyframes fadeInOut {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

.loader {
  animation: spin 1s linear infinite;   
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.popup {
  animation: slideUpFade 3s forwards;
}
@keyframes slideUpFade {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  15% {
    opacity: 1;
    transform: translateY(-5px); 
  }
  25% {
    transform: translateY(0);
  }
  80% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(0);
  }
}
