@import "tailwindcss";

/* designing the home/landing page animation/background */
body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(270deg, #e3fbff, #bbe0ef, #a1c6db);
  background-size: 600% 600%;
  animation: gradientFlow 12s ease infinite;
}

/* Keyframes for clear, smooth gradient animation */
@keyframes gradientFlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
